
mainColor = #363432
secondaryColor = #4a4a4a
thirdColor = #727171
body 
    font-family STSongti-SC-Black
    color mainColor
a
    cursor pointer
    color mainColor
    
@media (max-width 320px)
    body  
        font-size 12.5
        line-height 1.5
    .font-size-12
        font-size 11px
    .font-size-16
        font-size 15px
    .font-size-20
        font-size 19px

@media (min-width 321px) and (max-width 375px)
    body  
        font-size 14px
        line-height 1.5
    .font-size-12
        font-size 12px
    .font-size-16
        font-size 16px
    .font-size-20
        font-size 20px

@media (min-width 376px) and (max-width 480px)
    body  
        font-size 15px
        line-height 1.5
    .font-size-12
        font-size 12.5px
    .font-size-16
        font-size 16.5px
    .font-size-20
        font-size 20.5px

@media (min-width 481px)
    body  
        font-size 16px
        line-height 1.5
    .font-size-12
        font-size 13px
    .font-size-16
        font-size 17px
    .font-size-20
        font-size 21px

@media (min-width 1025px)
    body  
        font-size 14px