<template>
    <section class="about">
        <div class="about__wrapper">
            <div class="about__wrapper__banner"></div>
            <div class="about__wrapper__content">
                <div class="about__wrapper__content__title">
                    {{$t('nav.about')}}
                </div>
                <div class="about__wrapper__content__introduce">{{$t('about.content')}}</div>
                <img src="../Dist/Images/img_office01.png" alt="" class="about__wrapper__content__image">
                <img src="../Dist/Images/img_office02.png" alt="" class="about__wrapper__content__image">
                <img src="../Dist/Images/img_office03.png" alt="" class="about__wrapper__content__image">
                <img src="../Dist/Images/img_office04.png" alt="" class="about__wrapper__content__image">
                <div class="about__wrapper__content__image-wrapper">
                    <img src="../Dist/Images/img_businesslicense.png" alt="">
                    <img src="../Dist/Images/img_qualificationcertificate.png" alt="">
                </div>
                <div class="about__wrapper__content__image-wrapper-security">
                    <img src="../Dist/Images/img_securitypermission.png" alt="">
                </div>
            </div> 
        </div>
        <publicFooter></publicFooter>
    </section>
</template>
<script>
import publicFooter from './public-footer';
export default {
    components:{
        publicFooter
    }
}
</script>

<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
.about
    .about__wrapper
        padding 1rem 0 2rem
        .about__wrapper__content__title
            @extends .font-size-20
            text-align  center
            margin-bottom 0.8rem
        .about__wrapper__content__introduce
            @extends .font-size-12
            padding 0 0.4rem
            margin-bottom 1rem
        .about__wrapper__content__image
            display block
            width 8.575rem
            margin 0 auto 0.2rem
           
@media (max-width 768px)
    .about__wrapper__banner
        display none
    .about__wrapper__content__image-wrapper
        img 
            max-width 100%
    .about__wrapper__content__image-wrapper-security
        width 8.575rem
        margin 0 auto
@media (min-width 769px)
    .about
        .about__wrapper
            padding 0 0 calc(80 / 1080 * 100vh)
            .about__wrapper__banner
                max-width 1920px
                width w = 100vw
                height w * (360 / 1920)
                background url(../Dist/Images/img_aboutus.png) no-repeat center/cover
            .about__wrapper__content
                max-width 1200px
                margin 0 auto 
                .about__wrapper__content__title
                    margin 132px auto 34px
                    font-size 40px
                .about__wrapper__content__introduce
                    font-size 20px
                    line-height 32px
                    margin-bottom 80px
                .about__wrapper__content__image
                    width 100%
                    height auto
                    max-width 100%
                    margin-bottom 20px
                .about__wrapper__content__image-wrapper
                    display flex
                    justify-content space-between

</style>    


