<template>
    <div>
        <publicHeader></publicHeader>
        <transition :name="transitionName">
            <router-view class="container"></router-view>
        </transition>
    </div>
</template>
<script>
import publicHeader from './public-header';
export default {
    data() {
        return {
            transitionName: "slide-left",
            isBack:''
        }
    },
    beforeRouteUpdate(to, from, next) {
        let isBack = this.$router.isBack;
        this.isBack =  isBack;
        if (isBack) {
            this.transitionName = 'slide-right'
        } else {
            this.transitionName = 'slide-left'
        }
        this.$router.isBack = false
        next()
    },
    methods: {
        errorDone() {
            this.error = false;
        },
        progressDone() {
            this.progress = 0;
        }
    },
    watch: {
        '$route'(to, from) {
            const toDepth = to.path.split('/').length
            const fromDepth = from.path.split('/').length
            console.log(to);
            console.log(from);
            this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
        }
    },
    components:{
        publicHeader
    }
}
</script>
<style lang="stylus">
@media (max-width 768px)
    .container 
        width 100%
        background-color #fff
        transition: all .8s cubic-bezier(.55,0,.1,1);
    .slide-left-enter, 
    .slide-right-leave-active 
        opacity 0
        -webkit-transform translate(50px, 0)
        transform translate(50px, 0)
    .slide-left-leave-active, 
    .slide-right-enter 
        opacity 0
        -webkit-transform translate(-50px, 0)
        transform translate(-50px, 0)
@media (min-width 769px)
    .container 
        background-color #fff
        width 100%
</style>