<template>
    <section class="contact">
        <div class="contact__wrapper">
            <slot name="contactBanner"></slot>
            <p class="contact__wrapper__title">{{$t('nav.contact')}}</p>
            <div class="contact__wrapper__content">
                <slot name="contactIntro"></slot>
                <p class="contact__wrapper__content__name">{{$t('contact.company')}}</p>
                <ul class="contact__wrapper__content__contactInformation">
                    <li><span>{{$t('contact.address')}}：</span><span>{{$t('contact.addressValue')}}</span>    </li>
                    <li><span>{{$t('contact.tel')}}：</span><span>（+86 21）54520086</span></li>
                    <li><span>{{$t('contact.mail')}}：</span><span>jason.li@ez-sh.com.cn</span></li>
                </ul>
            </div>
        </div>
    </section>
</template>
<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
    .contact
        .contact__wrapper
            padding-top 1rem
            .contact__wrapper__title
                @extends .font-size-20
                text-align center
                margin-bottom 0.8rem
            .contact__wrapper__content
                padding 0 0.4rem 1.65rem 0.4rem
                .contact__wrapper__content__name    
                    font-weight bold
                    margin 1.5rem 0 0.4rem
                .contact__wrapper__content__contactInformation
                    li
                        @extends .font-size-12
                        line-height 0.425rem
                        margin-bottom 0.2rem
                        display flex 
                        span 
                            &:nth-of-type(1)
                                width 1.3rem
                                flex-shrink 0


@media (min-width 769px)
    .contact
        .contact__wrapper
            padding-top 0
            .contact__wrapper__title
                font-size 40px
                text-align center
                margin 132px 0 90px
            .contact__wrapper__content
                max-width 1200px
                margin 0 auto
                .contact__wrapper__content__name    
                    font-size 20px
                    font-weight bold
                    margin 80px 0 50px
                .contact__wrapper__content__contactInformation
                    li
                        display flex
                        flex-direction column
                        color thirdColor
                        span 
                            &:nth-of-type(1)
                                font-size 20
                                font-weight bold
                                margin-bottom 8px
                                line-height 28px
                            &:nth-of-type(2)
                                line-height 30px

</style>

