<template>
    <section>
       <contactModule>
           <div slot="contactBanner" class="contact__wrapper__banner"></div>
           <div slot="contactIntro" class="contact__wrapper__content__intro">
               {{$t('about.content')}}
           </div>
       </contactModule>
       <publicFooter></publicFooter>
    </section>
</template>
<script>
import contactModule from './contact-module';
import publicFooter from './public-footer';
export default {
    components:{
        contactModule,
        publicFooter
    }
}
</script>
<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
.contact__wrapper__content__intro
    @extends .font-size-12
    line-height 0.6rem

@media (max-width 768px)
    .contact__wrapper__banner
        display none

@media (min-width 769px)
    .contact__wrapper__banner
        max-width 1920px
        width w = 100vw
        height w * (360 / 1920)
        background url(../Dist/Images/img_contactus2.png) no-repeat center/cover
    .contact__wrapper__content__intro
        font-size 16px
        line-height 40px
</style>


