<template>
    <section class="home">
        <!-- web index swiper -->
        <div class="home__b769-wrapper">
            <swiper class="home__b769-wrapper__content" :options="b769SwiperOptions" ref="homeSwiper">
                <!-- 首页使命 -->
                <swiper-slide class="home__b769-wrapper__content__item home__b769-wrapper__content__item-mission">
                    <div class="home__b769-wrapper__content__item-mission__wrapper">
                        <missionModule></missionModule>
                    </div>
                </swiper-slide>
                <!-- 项目案例 -->
                <swiper-slide class="home__b769-wrapper__content__item home__b769-wrapper__content__item-projects">
                    <div class="home__b769-wrapper__content__item-projects__header">
                        <p class="home__b769-wrapper__content__item__title">{{$t('nav.cases')}}</p>
                        <ul class="home__b769-wrapper__content__item-projects__header__fliter">
                            <li v-for="(item,index) in $t('projects.typeList')" :key="index" :class="{active:activeHomeProjectType == index}" @click="activeHomeProjectType = index;calcActiveHomeProjectList()">
                                <span>{{item.name}}</span>
                                <span class="underline"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="home__b769-wrapper__content__item-projects__content">
                        <div class="home__b769-wrapper__content__item-projects__content__item" v-for="(item,index) in activeHomeProjectList" :key="index">
                            <router-link :to="'/projectDetail?id=' + item.flag + '&type=' + item.type">
                                <div class="home__b769-wrapper__content__item-projects__content__item__image"  :style="{backgroundImage:'url('+ item.images[0] +')'}">
                                    <div class="home__b769-wrapper__content__item-projects__content__item__image__mask">
                                    </div>   
                                </div>
                                <div class="home__b769-wrapper__content__item-projects__content__item__name">{{item.name}}</div>
                                <div class="home__b769-wrapper__content__item-projects__content__item__industry">{{item.time}}</div>    
                            </router-link>
                        </div>
                    </div>
                </swiper-slide>
                <!-- 专长领域 -->
                <swiper-slide class="home__b769-wrapper__content__item home__b769-wrapper__content__item-speciality">
                    <p class="home__b769-wrapper__content__item__title">{{$t('speciality.title')}}</p>
                    <span class="swiper-button-dividingline">
                    </span>
                    <swiper class="home__b769-wrapper__content__item-speciality__content" :options="b769SpecialitySwiperOptions">
                        <swiper-slide class="home__b769-wrapper__content__item-speciality__content__item" v-for="(item,index) in $t('speciality.list')" :key="index">
                            <div class="home__b769-wrapper__content__item-speciality__content__item__body">
                                <div class="home__b769-wrapper__content__item-speciality__content__item__body__image"></div>
                                <p class="home__b769-wrapper__content__item-speciality__content__item__body__title">{{item.title}}</p>   
                                <span class="home__b769-wrapper__content__item-speciality__content__item__body__line"></span> 
                                <p class="home__b769-wrapper__content__item-speciality__content__item__body__des">{{item.content}}</p>
                            </div>
                        </swiper-slide>
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                    </swiper>
                </swiper-slide>
                <!-- 合作伙伴 -->
                <swiper-slide class="home__b769-wrapper__content__item home__b769-wrapper__content__item-partner">
                    <p class="home__b769-wrapper__content__item__title">{{$t('partner.title')}}</p>
                    <div class="home__b769-wrapper__content__item-partner__content">
                        <div class="home__b769-wrapper__content__item-partner__content__wrapper">
                            <div class="home__b769-wrapper__content__item-partner__content__wrapper__item">
                                <div class="home__b769-wrapper__content__item-partner__content__wrapper__item__box" v-for="(item,index) in partnerLogoRowA" :key="index">
                                    <span :style="{backgroundImage:'url(' + item + ')'}"></span>
                                    <span></span>
                                </div>
                                
                            </div>
                            <div class="home__b769-wrapper__content__item-partner__content__wrapper__item">
                                <div class="home__b769-wrapper__content__item-partner__content__wrapper__item__box" v-for="(item,index) in partnerLogoRowB" :key="index">
                                    <span :style="{backgroundImage:'url(' + item + ')'}"></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <!-- 联系我们 -->
                <swiper-slide class="home__b769-wrapper__content__item home__b769-wrapper__content__item-contact">
                    <div class="home__b769-wrapper__content__item-contact__wrapper">
                        <div class="home__b769-wrapper__content__item-contact__wrapper__banner"></div>
                        <div class="home__b769-wrapper__content__item-contact__wrapper__content">
                            <p class="home__b769-wrapper__content__item-contact__wrapper__content__company">{{$t('contact.company')}}</p>
                            <ul class="home__b769-wrapper__content__item-contact__wrapper__content__cntact">
                                <li>{{$t('contact.address')}}：{{$t('contact.addressValue')}}</li>
                                <li>{{$t('contact.tel')}}：（+86 21）54520086</li>
                                <li>{{$t('contact.mail')}}：jason.li@ez-sh.com.cn</li>
                            </ul>
                        </div>
                    </div>
                </swiper-slide>
                <div class="swiper-pagination"  slot="pagination"></div>
            </swiper>
        </div>
        <!-- 我们的使命 -->
        <div class="home__mission">
            <missionModule></missionModule>
        </div>
        <!-- 项目案例 -->
        <div class="home__project">
            <div class="home__project__wrapper">
                <div class="home__project__wraper__title">{{$t('nav.cases')}}</div>
                <projectItem :activeProjectList="HomeProjectList"></projectItem>
                <router-link to="/projects" class="home__project__wrapper__link">{{$t('projects.moreProjectCase')}}</router-link>
            </div>
        </div>
        <!-- 专长领域 -->
        <div class="home__speciality">
            <div class="home__speciality__wraper">
                <div class="home__speciality__wraper__title">{{$t('speciality.title')}}</div>
                <swiper :options="specialitySwiperOption" class="home__speciality__wraper__content">
                    <swiper-slide class="home__speciality__wraper__content__item" v-for="(item,index) in $t('speciality.list')" :key="index">
                        <div class="home__speciality__wraper__content__item__image"></div>
                        <p class="home__speciality__wraper__content__item__title">{{item.title}}</p>
                        <p class="home__speciality__wraper__content__item__info">
                            {{item.content}}
                        </p>
                    </swiper-slide>
                    
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                </swiper>
            </div>
        </div>
        <!-- 合作伙伴 -->
        <div class="home__partner">
            <div class="home__partner__wrapper">
                <swiper :options="partnerSwiperOption" class="home__partner__wrapper__content">
                    <swiper-slide class="home__partner__wrapper__content__item" v-for="(item,index) in partnerLogo" :key="index" :style="{backgroundImage:'url('+ item +')'}">
                    </swiper-slide>
                </swiper>
            </div>
        </div>
        <!-- 联系我们 -->
        <div class="home__contact">      
            <contactModule></contactModule>
        </div>
        <publicFooter></publicFooter>
    </section>
</template>
<script>

import missionModule from './mission-module';
import contactModule from './contact-module';
import projectItem from './project-item';
import publicFooter from './public-footer';
export default {
    data() {
        return {
            specialitySwiperOption:{
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            },
            partnerSwiperOption:{
                slidesPerView:6,
                spaceBetween:16
            },
            b769SwiperOptions:{
                direction : 'vertical',
                mousewheel: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                }
            },
            b769SpecialitySwiperOptions:{
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                slidesPerView:3,
                slidesPerGroup:3


            },
            partnerLogo:[
                '../Dist/Images/img_partnerlogo1.png',
                '../Dist/Images/img_partnerlogo2.png',
                '../Dist/Images/img_partnerlogo3.png',
                '../Dist/Images/img_partnerlogo4.png',
                '../Dist/Images/img_partnerlogo5.png',
                '../Dist/Images/img_partnerlogo6.png',
                '../Dist/Images/img_partnerlogo7.png',
                '../Dist/Images/img_partnerlogo8.png',
                '../Dist/Images/img_partnerlogo9.png',
                '../Dist/Images/img_partnerlogo10.png',
                '../Dist/Images/img_partnerlogo11.png'
            ],
            activeHomeProjectType:'0',
            HomeProjectList:[
                {
                    type:'1',
                    name:'荻纳生物',
                    flag:'1',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_dina01.png','../Dist/Images/img_project_dina02.png','../Dist/Images/img_project_dina03.png','../Dist/Images/img_project_dina04.png']
                },
                {
                    type:'1',
                    name:'华信多伦路',
                    flag:'2',
                    time:'Design（2016）',
                    images:['../Dist/Images/img_project_huaxing01.png','../Dist/Images/img_project_huaxing02.png','../Dist/Images/img_project_huaxing03.png']
                },
                {
                    type:'1',
                    name:'士诺',
                    flag:'3',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_shinuo_01.png','../Dist/Images/img_project_shinuo_02.png','../Dist/Images/img_project_shinuo_03.png','../Dist/Images/img_project_shinuo_04.png','../Dist/Images/img_project_shinuo_05.png','../Dist/Images/img_project_shinuo_06.png']
                },
                {
                    type:'1',
                    name:'益博睿-日月光广场',
                    flag:'4',
                    time:'Design（2017）',
                    images:['../Dist/Images/img_project_yiborui_01.png','../Dist/Images/img_project_yiborui_02.png','../Dist/Images/img_project_yiborui_03.png','../Dist/Images/img_project_yiborui_04.png','../Dist/Images/img_project_yiborui_05.png','../Dist/Images/img_project_yiborui_06.png','../Dist/Images/img_project_yiborui_07.png','../Dist/Images/img_project_yiborui_08.png']
                },{
                    type:'2',
                    name:'胸科医院',
                    flag:'10',
                    time:'',
                    images:['../Dist/Images/img_project_xiongke_01.png','../Dist/Images/img_project_xiongke_02.png','../Dist/Images/img_project_xiongke_03.png','../Dist/Images/img_project_xiongke_04.png']
                },{
                    type:'2',
                    name:'复旦儿科培训中心',
                    flag:'11',
                    time:'Maintenance（2018）',
                    images:['../Dist/Images/img_project_fudan_01.png','../Dist/Images/img_project_fudan_02.png','../Dist/Images/img_project_fudan_03.png']
                },{
                    type:'2',
                    name:'美敦力创新中心',
                    flag:'12',
                    time:'',
                    images:['../Dist/Images/img_project_meiguo_01.png','../Dist/Images/img_project_meiguo_02.png','../Dist/Images/img_project_meiguo_03.png','../Dist/Images/img_project_meiguo_04.png']
                },{
                    type:'3',
                    name:'上海健康医学院康复实训中心',
                    flag:'13',
                    time:'Design （2017）',
                    images:['../Dist/Images/img_project_kanfuzhongx_01.png','../Dist/Images/img_project_kanfuzhongx_02.png','../Dist/Images/img_project_kanfuzhongx_03.png','../Dist/Images/img_project_kanfuzhongx_04.png','../Dist/Images/img_project_kanfuzhongx_05.png','../Dist/Images/img_project_kanfuzhongx_06.png','../Dist/Images/img_project_kanfuzhongx_07.png','../Dist/Images/img_project_kanfuzhongx_08.png']
                },{
                    type:'3',
                    name:'健康医学院学工处',
                    flag:'14',
                    time:'Design（2018）',
                    images:['../Dist/Images/img_project_yixueyuan_01.png','../Dist/Images/img_project_yixueyuan_02.png','../Dist/Images/img_project_yixueyuan_03.png']
                }
            ],
            homeProjectStart:0,
            homeProjectEnd:4


        }
    },
    computed:{
        homeSwiper() {
            return this.$refs.homeSwiper.swiper;
        },
        homeSwiperActiveIndex() {
            return this.homeSwiper.activeIndex;
        },
        partnerLogoRowA() {
           return  _.slice(this.partnerLogo,0,6);
        },
        partnerLogoRowB() {
           return  _.slice(this.partnerLogo,6);
        },
        activeHomeProjectList() {
            return _.slice(this.HomeProjectList,this.homeProjectStart,this.homeProjectEnd);
        }
    },
    created() {
        this.calcActiveHomeProjectList();
    },
    methods:{
        calcActiveHomeProjectList() {
            switch (this.activeHomeProjectType){
                case 0:
                    this.homeProjectStart = 0;
                    this.homeProjectEnd = 4;
                    break;
                case 1:
                    this.homeProjectStart = 4;
                    this.homeProjectEnd = 7;
                    break;
                case 2:
                    this.homeProjectStart = 7;
                    this.homeProjectEnd = 9;
            }
                

        }
    },
    components:{
        missionModule,
        contactModule,
        projectItem,
        publicFooter
    }
}
</script>

<style lang="stylus">
@import '../Public/Css/common.styl';
.home
    .home__project
        padding-top 2rem
        .home__project__wrapper
            display flex
            flex-direction column
            align-items center
            .home__project__wraper__title
                @extends .font-size-20
                text-align center
                margin-bottom 1.5rem
            .home__project__wrapper__link
                width 5.65rem
                height 1rem
                background-color #44546a
                color #fff
                text-align center
                line-height 1rem
                margin-top 1.1rem
    .home__team
        padding-top 2rem
    .home__speciality
        padding-top 2rem
        border-bottom 1px solid #eaeaea
        .home__speciality__wraper
            .home__speciality__wraper__title
                @extends .font-size-20
                text-align center
                margin-bottom 1.5rem
            .home__speciality__wraper__content
                height 6.75rem
                .home__speciality__wraper__content__item
                    display flex
                    flex-direction column
                    align-items center
                    .home__speciality__wraper__content__item__image
                        width 6rem
                        height 2.4rem
                        background-size cover
                        background-position center
                        margin-bottom 0.9rem
                    &:nth-of-type(1)
                        .home__speciality__wraper__content__item__image
                            background-image url(../Dist/Images/img_design.png)
                    &:nth-of-type(2)
                        .home__speciality__wraper__content__item__image
                            background-image url(../Dist/Images/img_investment.png)
                    &:nth-of-type(3)
                        .home__speciality__wraper__content__item__image
                            background-image url(../Dist/Images/img_maintain.png)
                    &:nth-of-type(4)
                        .home__speciality__wraper__content__item__image
                            background-image url(../Dist/Images/img_roadwork.png)

                    .home__speciality__wraper__content__item__title
                        @extends .font-size-16
                        margin-bottom 0.25rem
                    .home__speciality__wraper__content__item__info
                        @extends .font-size-12
                        color thirdColor
                        padding 0 0.4rem
                        text-align center
                .swiper-button-next,.swiper-button-prev
                    top 1.35rem
                    width 0.75rem
                    height 0.75rem
                    background-size cover
                    background-position  center
                .swiper-button-prev
                    left 0.75rem
                    background-image url(../Dist/Images/home-5.png)
                .swiper-button-next
                    right 0.75rem
                    background-image url(../Dist/Images/home-3.png)
    .home__partner
        .home__partner__wrapper
            .home__partner__wrapper__content
                background-color #ffffff
                height 3rem
                .home__partner__wrapper__content__item
                    background-size 1.2rem
                    background-position center
                    background-repeat no-repeat
    .home__contact
        background-color #f8f8f8
@media (max-width 768px)
    .home__b769-wrapper
        display none
@media (min-width 769px)
    .home
        padding-bottom 40px
        .home__mission,.home__project,.home__team,.home__speciality,.home__partner,.home__contact
            display none
        .home__b769-wrapper
            .swiper-container-vertical.home__b769-wrapper__content
                .swiper-pagination-bullets
                    right 20px
                    display flex
                    flex-direction column
                    align-items center
                    .swiper-pagination-bullet
                        width 6px
                        height 6px
                        background-color #a8a8a8
                        position relative
                        margin 44px 0 0 0
                        opacity 1
                        &:before
                            content ''
                            display block   
                            width 2px
                            height 40px
                            background-color #a8a8a8
                            color #a8a8a8
                            position absolute
                            left 50%
                            top 8px
                            transform translate(-50%)
                        &:last-child
                            &:before
                                width 0
                                height 0
                        &:first-child
                            margin-top 0
                    .swiper-pagination-bullet-active
                        width 18px
                        height 18px
                        border 3px solid #44546A
                        background-color rgba(0,0,0,0)
                        margin-bottom 3px
                        &:before
                            top 20px
            .home__b769-wrapper__content
                .home__b769-wrapper__content__item
                    padding 15vh 60px 0 
                    .swiper-button-dividingline
                        width 1px 
                        height 32px
                        background-color thirdColor
                        position absolute
                        left 50%
                        transform translateX(-50%)
                        bottom 15vh
                    .home__b769-wrapper__content__item__title
                        font-size 40px
                        line-height 56px
                        margin-bottom 5vh
                .home__b769-wrapper__content__item-mission
                    padding-top 90px
                //web 合作伙伴
                .home__b769-wrapper__content__item-partner
                    padding-left 0
                    padding-right 0 
                    .home__b769-wrapper__content__item__title
                        padding-left 60px
                    .home__b769-wrapper__content__item-partner__content
                        .home__b769-wrapper__content__item-partner__content__wrapper
                            display flex
                            flex-direction column
                            align-items flex-start
                            .home__b769-wrapper__content__item-partner__content__wrapper__item
                                width 100%
                                padding-left calc(180 / 1080 * 100vw)
                                padding-bottom calc(24 / 1080 * 100vw)
                                border-bottom 1px solid #eaeaea
                                display flex
                                justify-content flex-start
                                .home__b769-wrapper__content__item-partner__content__wrapper__item__box
                                    padding-left 16px
                                    display flex
                                    align-items center
                                    span
                                        &:nth-of-type(1)
                                            width calc(179 / 1920 * 100vw)
                                            height calc(120 / 1920 * 100vw)
                                            max-width 100%
                                            margin-right 16px
                                            background-size 100%
                                            background-repeat no-repeat
                                            background-position center
                                    span 
                                        &:nth-of-type(2)
                                            width 1px 
                                            height 100px
                                            background-color #eaeaea
                                    
                                &:nth-of-type(2)
                                    padding-top calc(24 / 1080 * 100vh)
                                    border-width 0
                // 项目案例
                .home__b769-wrapper__content__item-projects
                    .home__b769-wrapper__content__item-projects__header
                        display flex
                        justify-content space-between
                        align-items center
                        padding-bottom calc(20 / 1080 * 100vh)
                        border-bottom 1px solid #eaeaea
                        margin-bottom calc(50 / 1080 * 100vh)
                        cursor pointer
                        .home__b769-wrapper__content__item__title
                            font-size 40px
                            margin-bottom 0
                        .home__b769-wrapper__content__item-projects__header__fliter
                            color thirdColor 
                            font-size 16px
                            display flex

                            li
                                display flex
                                flex-direction column
                                padding 0 32px 
                                border-right 1px solid #eaeaea
                                &:last-child
                                    padding-right 0
                                    border-width 0
                                .underline
                                    width 60px
                                    height 2px
                                    background-color #44546A 
                                    margin-top 2px
                                    transform scaleX(0)
                                    transition transform .3s
                                &:hover
                                    .underline
                                        transform scaleX(1)
                                &:active
                                    color mainColor
                            li.active
                                .underline
                                    transform scaleX(1)
                    .home__b769-wrapper__content__item-projects__content
                        display flex
                        flex-wrap nowrap
                        justify-content space-between
                        .home__b769-wrapper__content__item-projects__content__item
                            width calc(442 / 1080 * 100vh)
                            &:not(:last-child)
                                margin-right 12px
                            .home__b769-wrapper__content__item-projects__content__item__image
                                height calc(288 / 1080 * 100vh)
                                background-size cover
                                background-repeat no-repeat
                                background-position center
                                position relative
                                overflow hidden
                                .home__b769-wrapper__content__item-projects__content__item__image__mask
                                    position absolute
                                    left 0 
                                    top 0
                                    right 0
                                    bottom 0
                                    background-color  rgba(68,84,106,0.70)
                                    transform translate3d(0,100%,0)
                                    transition transform .3s
                            .home__b769-wrapper__content__item-projects__content__item__name
                                font-size 16px
                                font-weight bold
                                margin 20px 0
                                transform translate(0,0,0)
                                transition transform .3s
                            .home__b769-wrapper__content__item-projects__content__item__industry
                                color thirdColor
                                transform translate(0,0,0)
                                transition transform .3s
                            &:hover
                                .home__b769-wrapper__content__item-projects__content__item__image__mask
                                    transform translate3d(0,0,0)
                                .home__b769-wrapper__content__item-projects__content__item__name
                                    transform translate3d(0,-64px,0)
                                    color #fff
                                .home__b769-wrapper__content__item-projects__content__item__industry
                                    transform translate3d(0,-44px,0)
                
                .home__b769-wrapper__content__item-speciality
                    .home__b769-wrapper__content__item-speciality__content
                        height calc(80vh - 56px)
                        .swiper-button-line
                            width 1px
                            height 32px
                            background-color thirdColor
                        .swiper-button-prev,.swiper-button-next
                            width 30px
                            height 30px
                            background-image url(../Dist/Images/icon_30px.png)
                            background-size 100%
                            top auto
                            bottom 15vh
                        .swiper-button-prev
                            background-position 0 -54px
                            transform rotate(180deg)
                            left calc(50vw - 110px)
                            right auto
                        .swiper-button-next
                            background-position 0 -54px
                            right auto
                            left calc(50vw - 40px)
                        .swiper-wrapper
                            padding-top calc(60 / 1080 * 100vh)
                            .home__b769-wrapper__content__item-speciality__content__item
                                display flex
                                justify-content space-around
                                width calc(320 / 1080 * 100vh)
                                transform translate3d(0,0,0)
                                transition transform .4s
                                .home__b769-wrapper__content__item-speciality__content__item__line
                                    width 1px
                                    height 240px
                                    background-color #9b9b9b
                                .home__b769-wrapper__content__item-speciality__content__item__body
                                    display flex
                                    flex-direction column
                                    align-items center
                                    max-width 320px
                                    .home__b769-wrapper__content__item-speciality__content__item__body__image
                                        width 100%
                                        height 128px
                                        background-size cover
                                        background-position center
                                        background-image url(../Dist/Images/img_skilledfield.png)
                                    .home__b769-wrapper__content__item-speciality__content__item__body__title
                                        font-size 24px
                                        margin 28px 0 12px
                                    .home__b769-wrapper__content__item-speciality__content__item__body__line
                                        width 80px
                                        height 1px 
                                        background-color mainColor
                                        margin-bottom 20px
                                    .home__b769-wrapper__content__item-speciality__content__item__body__des
                                        color thirdColor
                                        font-size 16px
                                        text-align center
                                &:hover
                                    transform translate3d(0,-5px,0)
                                &:nth-of-type(1)
                                    .home__b769-wrapper__content__item-speciality__content__item__body__image
                                        background-position 0 0
                                &:nth-of-type(2)
                                    .home__b769-wrapper__content__item-speciality__content__item__body__image
                                        background-position 0 -150px
                                &:nth-of-type(3)
                                    .home__b769-wrapper__content__item-speciality__content__item__body__image
                                        background-position 0 -300px
                                &:nth-of-type(4)
                                    .home__b769-wrapper__content__item-speciality__content__item__body__image
                                        background-position 0 -450px
                .home__b769-wrapper__content__item-contact
                    padding-top 0
                    .home__b769-wrapper__content__item-contact__wrapper
                        .home__b769-wrapper__content__item-contact__wrapper__banner
                                height calc(600 / 1080 * 100vh)
                                background url(../Dist/Images/img_contactus.png) no-repeat center/cover
                                position absolute
                                left 0
                                top 0
                                width 100%
                        .home__b769-wrapper__content__item-contact__wrapper__content
                            padding-top calc(600 / 1080 * 100vh)
                            padding-left 60px
                            color thirdColor
                            .home__b769-wrapper__content__item-contact__wrapper__content__company
                                font-size 20px
                                font-weight bold
                                
                                margin calc(60 / 1080 * 100vh) 0 calc(40 / 1080 * 100vh)
                            .home__b769-wrapper__content__item-contact__wrapper__content__cntact
                                li
                                    font-size 16px
                                    line-height 30px
                                    margin-bottom 4px
        .footer
            position fixed
            left 0
            right 0
            bottom 0
            padding-right 60px
            z-index 999
            text-align right
</style>

