<template>
    <div class="mission">
        <div class="mission__wrapper">
            <div class="mission__wrapper__item animated fadeInUp">{{$t('homeSwiperInindex.missionTitle')}}</div>
            <div class="mission__wrapper__item animated fadeInUp">{{$t('homeSwiperInindex.missionContenta')}}<br>{{$t('homeSwiperInindex.missionContentb')}}</div>
            <div class="mission__wrapper__item animated fadeInUp">
                <router-link to="/about">
                    {{$t('nav.about')}}
                </router-link>
            </div>
            <div class="mission__wrapper__item"></div>
        </div>
        <div class="mission__mask animated fadeIn"></div>
    </div>
</template>
<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
.mission
    background-size cover
    background-position center
    background-image url(../Dist/Images/web-swiper-index.png)
    position relative
    .mission__mask
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        background-color rgba(255,255,255,0.8)
    .mission__wrapper
        height 100vh
        display flex
        flex-direction column
        align-items center
        padding-top 3.1rem
        position relative
        z-index 9
        .mission__wrapper__item
            &:nth-of-type(1)
                font-size 24px
                margin-bottom 0.5rem
                animation-delay 1s
            &:nth-of-type(2)
                @extends .font-size-12
                text-align center
                margin-bottom 1rem
                animation-delay 1.2s
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            &:nth-of-type(3)
                width 2rem
                height 2rem
                line-height 2rem
                text-align center
                border-radius 50%
                border 1px solid #44546A
                animation-delay 1.4s
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            &:nth-of-type(4)
                width 0.8rem
                height 0.45rem
                position absolute
                left 50%
                transform translateX(-50%)
                bottom 2.45rem
                background-image url(../Dist/Images/home-1.png)
                background-size cover
                animation: scroll 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite forwards;
                -webkit-animation: scroll 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite forwards;
@media (min-width 769px)
    .mission
        .mission__wrapper
            height 100%
            display flex
            flex-direction column
            align-items center
            justify-content center
            padding-top 0
            position relative
            .mission__wrapper__item
                &:nth-of-type(1)
                    font-size 40px
                    margin-bottom 43px
                &:nth-of-type(2)
                    font-size 22px
                    text-align center
                    margin-bottom 55px
                &:nth-of-type(3)
                    width 120px
                    height 120px
                    line-height 120px
                    text-align center
                    border-radius 50%
                    border 1px solid #44546A
                    margin-bottom 0
                    font-size 22px
                &:nth-of-type(4)
                    width 60px
                    height 32px
                    background-image url(../Dist/Images/home-1.png)
                    background-size cover
                    bottom 60px
@keyframes scroll 
    0%
        -webkit-transform translateY(0) translateX(-50%)
        transform translateY(0) translateX(-50%)
    
    50% 
        -webkit-transform translateY(10px) translateX(-50%)
        transform translateY(10px) translateX(-50%)
    
    100% 
        -webkit-transform translateY(0) translateX(-50%)
        transform translateY(0) translateX(-50%)
    
</style>

