<template>
    <section class="project-detail">
        <div class="project-detail__wrapper">
            <swiper :options="projectDetailSwiperOption" ref="mySwiper" class="project-detail__wrapper__content">
                <swiper-slide class="project-detail__wrapper__content__item" v-for="(item,index) in currentProjectImages" :key="index">
                    <img :src="item" alt="">
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
            <div class="project-detail__wrapper__content-detail">
                <p class="project-detail__wrapper__content-detail__name">{{currentProjectName}}</p>
                <div class="project-detail__wrapper__content-detail__industry">{{currentProjectTime}}</div>
                <div class="project-detail__wrapper__content-detail__body">
                    <div class="project-detail__wrapper__content-detail__body__item" v-for="(item,index) in  sameTypeOtherProjects" :key="index" @click="currentProjectId = item.flag;calcCurrentProject()">
                        <div class="project-detail__wrapper__content-detail__body__item__image" :style="{backgroundImage:'url('+ item.images[0] +')'}">
                            <div class="project-detail__wrapper__content-detail__body__item__image__mask"></div>
                        </div>
                        <div class="project-detail__wrapper__content-detail__body__item__name">{{item.name}}</div>
                        <div class="project-detail__wrapper__content-detail__body__item__industry">{{item.time}}</div>
                    </div>
                </div>
            </div>
        </div>
        <publicFooter></publicFooter>
    </section>
</template>
<script>
import projectItem from './project-item';
import publicFooter from './public-footer';
export default {
    data(){
        return {
            projectDetailSwiperOption:{
                pagination: {
                    el:'.swiper-pagination'
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                initialSlide:0
            },
           currentProjectId:this.$route.query.id,
           currentProjectType:this.$route.query.type,
           projectList:[
                {
                    type:'1',
                    name:'荻纳生物',
                    flag:'1',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_dina01.png','../Dist/Images/img_project_dina02.png','../Dist/Images/img_project_dina03.png','../Dist/Images/img_project_dina04.png']
                },
                {
                    type:'1',
                    name:'华信多伦路',
                    flag:'2',
                    time:'Design（2016）',
                    images:['../Dist/Images/img_project_huaxing01.png','../Dist/Images/img_project_huaxing02.png','../Dist/Images/img_project_huaxing03.png']
                },
                {
                    type:'1',
                    name:'士诺',
                    flag:'3',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_shinuo_01.png','../Dist/Images/img_project_shinuo_02.png','../Dist/Images/img_project_shinuo_03.png','../Dist/Images/img_project_shinuo_04.png','../Dist/Images/img_project_shinuo_05.png','../Dist/Images/img_project_shinuo_06.png']
                },
                {
                    type:'1',
                    name:'益博睿-日月光广场',
                    flag:'4',
                    time:'Design（2017）',
                    images:['../Dist/Images/img_project_yiborui_01.png','../Dist/Images/img_project_yiborui_02.png','../Dist/Images/img_project_yiborui_03.png','../Dist/Images/img_project_yiborui_04.png','../Dist/Images/img_project_yiborui_05.png','../Dist/Images/img_project_yiborui_06.png','../Dist/Images/img_project_yiborui_07.png','../Dist/Images/img_project_yiborui_08.png']
                }
                ,{
                    type:'1',
                    name:'蒋家花园',
                    flag:'5',
                    time:'Design（2018）',
                    images:['../Dist/Images/img_project_jiang_01.png','../Dist/Images/img_project_jiang_02.png','../Dist/Images/img_project_jiang_03.png','../Dist/Images/img_project_jiang_04.png']
                },{
                    type:'1',
                    name:'联想天津',
                    flag:'6',
                    time:'Design & Built（2017）',
                    images:['../Dist/Images/img_project_lianxiangtiang_01.png','../Dist/Images/img_project_lianxiangtiang_02.png','../Dist/Images/img_project_lianxiangtiang_03.png']
                },{
                    type:'1',
                    name:'联想大庆',
                    flag:'7',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_lianxiangda_01.png','../Dist/Images/img_project_lianxiangda_02.png','../Dist/Images/img_project_lianxiangda_03.png']
                },{
                    type:'1',
                    name:'上海通用汽车 IT楼',
                    flag:'8',
                    time:'Design（2018）',
                    images:['../Dist/Images/img_project_tongyong_01.png','../Dist/Images/img_project_tongyong_02.png','../Dist/Images/img_project_tongyong_03.png','../Dist/Images/img_project_tongyong_04.png','../Dist/Images/img_project_tongyong_05.png','../Dist/Images/img_project_tongyong_06.png',,'../Dist/Images/img_project_tongyong_07.png','../Dist/Images/img_project_tongyong_08.png']
                },{
                    type:'1',
                    name:'飞利浦照明',
                    flag:'9',
                    time:'',
                    images:['../Dist/Images/img_project_feilipu_01.png','../Dist/Images/img_project_feilipu_03.png','../Dist/Images/img_project_feilipu_03.png','../Dist/Images/img_project_feilipu_04.png','../Dist/Images/img_project_feilipu_05.png','../Dist/Images/img_project_feilipu_06.png']
                },{
                    type:'2',
                    name:'胸科医院',
                    flag:'10',
                    time:'',
                    images:['../Dist/Images/img_project_xiongke_01.png','../Dist/Images/img_project_xiongke_02.png','../Dist/Images/img_project_xiongke_03.png','../Dist/Images/img_project_xiongke_04.png']
                },{
                    type:'2',
                    name:'复旦儿科培训中心',
                    flag:'11',
                    time:'Maintenance（2018）',
                    images:['../Dist/Images/img_project_fudan_01.png','../Dist/Images/img_project_fudan_02.png','../Dist/Images/img_project_fudan_03.png']
                },{
                    type:'2',
                    name:'美敦力创新中心',
                    flag:'12',
                    time:'',
                    images:['../Dist/Images/img_project_meiguo_01.png','../Dist/Images/img_project_meiguo_02.png','../Dist/Images/img_project_meiguo_03.png','../Dist/Images/img_project_meiguo_04.png']
                },{
                    type:'3',
                    name:'上海健康医学院康复实训中心',
                    flag:'13',
                    time:'Design （2017）',
                    images:['../Dist/Images/img_project_kanfuzhongx_01.png','../Dist/Images/img_project_kanfuzhongx_02.png','../Dist/Images/img_project_kanfuzhongx_03.png','../Dist/Images/img_project_kanfuzhongx_04.png','../Dist/Images/img_project_kanfuzhongx_05.png','../Dist/Images/img_project_kanfuzhongx_06.png','../Dist/Images/img_project_kanfuzhongx_07.png','../Dist/Images/img_project_kanfuzhongx_08.png']
                },{
                    type:'3',
                    name:'健康医学院学工处',
                    flag:'14',
                    time:'Design（2018）',
                    images:['../Dist/Images/img_project_yixueyuan_01.png','../Dist/Images/img_project_yixueyuan_02.png','../Dist/Images/img_project_yixueyuan_03.png']
                }

            ],
            currentProject:{
                    type:'',
                    name:'',
                    flag:'',
                    time:'',
                    images:[]
            },
            sameTypeOtherProjects:[],
            
        }
    },
    computed:{
        currentProjectImages() {
            return this.currentProject.images
        },
        currentProjectName() {
            return this.currentProject.name
        },
        currentProjectTime() {
            return this.currentProject.time
        },
        swiper() {
        return this.$refs.mySwiper.swiper
      }
        
    },
    created(){
        this.calcCurrentProject();
    },
    methods:{
        calcCurrentProject() {
            var sameTypeOtherProjects = [];
            _.forEach(this.projectList,(item) => {
                if(item.type == this.currentProjectType&&this.currentProjectId != item.flag) {
                    sameTypeOtherProjects.push(item)
                }
                if(item.flag == this.currentProjectId  ){
                    this.currentProject = item;
                }
            });
            this.sameTypeOtherProjects = sameTypeOtherProjects;
            this.swiper.slideTo(0, 1000, false);
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }
    },
    components:{
        projectItem,
        publicFooter
    }

}
</script>
<style lang="stylus">
@import '../Public/Css/common.styl';
.project-detail
    padding-top 1.3rem
    .project-detail__wrapper
        .project-detail__wrapper__content
            height 4.75rem
            .project-detail__wrapper__content__item
                display flex
                justify-content center
                align-items center
            .swiper-pagination-bullets
                .swiper-pagination-bullet
                    width 0.15rem
                    height 0.15rem
                    background-color #bababa
                .swiper-pagination-bullet-active
                    background-color #44546A
        .project-detail__wrapper__content-detail
            padding 0 0.2rem
            margin-top 0.5rem
            .project-detail__wrapper__content-detail__name
                @extends .font-size-20
            .project-detail__wrapper__content-detail__industry
                color thirdColor
            .project-detail__wrapper__content-detail__body
                padding 0.5rem 0 2rem
                margin-top 1rem
                border-top 1px solid #eaeaea
                display flex
                flex-wrap wrap
                justify-content space-between
                .project-detail__wrapper__content-detail__body__item
                    width 4.4rem
                    margin-bottom 0.3rem
                    .project-detail__wrapper__content-detail__body__item__image
                        height 2.875rem
                        background-color #f8f8f8
                        background-size cover
                        background-position center
                    .project-detail__wrapper__content-detail__body__item__name
                        margin 0.1rem 0
                        font-weight bold
                    .project-detail__wrapper__content-detail__body__item__industry
                        @extends .font-size-12
                        color thirdColor
@media (max-width 768px)
    .project-detail
        .swiper-button-prev,.swiper-button-next
            display none
@media (min-width 769px)
    .project-detail
        padding-top 90px
        .project-detail__wrapper
            .project-detail__wrapper__content
                height 650px
                .swiper-button-prev,
                .swiper-button-next
                    width 60px
                    height 60px
                    background-repeat no-repeat
                    background-size 30px
                    background-color #fff
                    &:hover
                        background-color #44546A
                .swiper-button-prev
                    left 20px
                    background-image url(../Dist/Images/home-5.png)
                    &:hover
                        background-image url(../Dist/Images/project-prev.png)
                        background-size cover
                .swiper-button-next
                    right 20px
                    background-image url(../Dist/Images/home-3.png)
                    &:hover
                        background-image url(../Dist/Images/project-next.png)
                        background-size cover
            .project-detail__wrapper__content-detail
                max-width 1200px 
                margin 0 auto
                padding 0
                .project-detail__wrapper__content-detail__name
                    font-size 40px
                    line-height 56px
                    margin 60px 0 8px
                .project-detail__wrapper__content-detail__industry
                    font-size 24px
                .project-detail__wrapper__content-detail__body
                    justify-content center
                    .project-detail__wrapper__content-detail__body__item
                        width 290px
                        margin-right 13px
                        .project-detail__wrapper__content-detail__body__item__image
                            width 100%
                            height 189px
                            position relative
                            overflow hidden
                            .project-detail__wrapper__content-detail__body__item__image__mask
                                position absolute
                                left 0
                                right 0
                                top 0
                                bottom 0
                                background-color  rgba(68,84,106,0.70)
                                transform translate3d(0,100%,0)
                                transition transform .3s
                        .project-detail__wrapper__content-detail__body__item__name
                            font-size 16px
                            line-height 22px
                            font-weight bold
                            margin-top 16px
                            margin-bottom 4px
                            transform translate3d(0,0,0)
                            transition transform .3s
                        .project-detail__wrapper__content-detail__body__item__industry
                            transform translate3d(0,0,0)
                            transition transform .3s
                        &:nth-child(4n)
                            margin-right 0
                        &:hover
                            .project-detail__wrapper__content-detail__body__item__image
                                .project-detail__wrapper__content-detail__body__item__image__mask
                                    transform translate3d(0,0,0)
                            .project-detail__wrapper__content-detail__body__item__name
                                color #fff
                                transform translate3d(0,-44px,0)
                            .project-detail__wrapper__content-detail__body__item__industry
                                transform translate3d(0,-40px,0)
</style>        


