<template>
    <section class="project-list">
        <div class="project-list__wrapper">
            <p class="project-list__wrapper__title">
                {{$t('nav.cases')}}
            </p>
            <div class="project-list__wrapper__fliter">
                <ul class="project-list__wrapper__fliter__wrapper">
                    <li v-for="(item,index) in $t('projects.typeList')" :key="index" :class="{active:activeType == item.type}" @click="activeType = item.type;calcProjects()">
                        <span>{{item.name}}</span>
                        <span class="project-list__wrapper__fliter__wrapper__icon"></span>
                    </li>
                </ul>
            </div>
            <projectItem :activeProjectList="activeProjectList">
            </projectItem>
        </div>
        <publicFooter></publicFooter>
    </section>
</template>
<script>
import projectItem from './project-item';
import publicFooter from './public-footer';

export default {
    data() {
        return {
            activeType:'',
            projectList:[
                {
                    type:'1',
                    name:'荻纳生物',
                    flag:'1',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_dina01.png','../Dist/Images/img_project_dina02.png','../Dist/Images/img_project_dina03.png','../Dist/Images/img_project_dina04.png']
                },
                {
                    type:'1',
                    name:'华信多伦路',
                    flag:'2',
                    time:'Design（2016）',
                    images:['../Dist/Images/img_project_huaxing01.png','../Dist/Images/img_project_huaxing02.png','../Dist/Images/img_project_huaxing03.png']
                },
                {
                    type:'1',
                    name:'士诺',
                    flag:'3',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_shinuo_01.png','../Dist/Images/img_project_shinuo_02.png','../Dist/Images/img_project_shinuo_03.png','../Dist/Images/img_project_shinuo_04.png','../Dist/Images/img_project_shinuo_05.png','../Dist/Images/img_project_shinuo_06.png']
                },
                {
                    type:'1',
                    name:'益博睿-日月光广场',
                    flag:'4',
                    time:'Design（2017）',
                    images:['../Dist/Images/img_project_yiborui_01.png','../Dist/Images/img_project_yiborui_02.png','../Dist/Images/img_project_yiborui_03.png','../Dist/Images/img_project_yiborui_04.png','../Dist/Images/img_project_yiborui_05.png','../Dist/Images/img_project_yiborui_06.png','../Dist/Images/img_project_yiborui_07.png','../Dist/Images/img_project_yiborui_08.png']
                }
                ,{
                    type:'1',
                    name:'蒋家花园',
                    flag:'5',
                    time:'Design（2018）',
                    images:['../Dist/Images/img_project_jiang_01.png','../Dist/Images/img_project_jiang_02.png','../Dist/Images/img_project_jiang_03.png','../Dist/Images/img_project_jiang_04.png']
                },{
                    type:'1',
                    name:'联想天津',
                    flag:'6',
                    time:'Design & Built（2017）',
                    images:['../Dist/Images/img_project_lianxiangtiang_01.png','../Dist/Images/img_project_lianxiangtiang_02.png','../Dist/Images/img_project_lianxiangtiang_03.png']
                },{
                    type:'1',
                    name:'联想大庆',
                    flag:'7',
                    time:'Design & Built（2018）',
                    images:['../Dist/Images/img_project_lianxiangda_01.png','../Dist/Images/img_project_lianxiangda_02.png','../Dist/Images/img_project_lianxiangda_03.png']
                },{
                    type:'1',
                    name:'上海通用汽车 IT楼',
                    flag:'8',
                    time:'Design（2018）',
                    images:['../Dist/Images/img_project_tongyong_01.png','../Dist/Images/img_project_tongyong_02.png','../Dist/Images/img_project_tongyong_03.png','../Dist/Images/img_project_tongyong_04.png','../Dist/Images/img_project_tongyong_05.png','../Dist/Images/img_project_tongyong_06.png',,'../Dist/Images/img_project_tongyong_07.png','../Dist/Images/img_project_tongyong_08.png']
                },{
                    type:'1',
                    name:'飞利浦照明',
                    flag:'9',
                    time:'',
                    images:['../Dist/Images/img_project_feilipu_01.png','../Dist/Images/img_project_feilipu_03.png','../Dist/Images/img_project_feilipu_03.png','../Dist/Images/img_project_feilipu_04.png','../Dist/Images/img_project_feilipu_05.png','../Dist/Images/img_project_feilipu_06.png']
                },{
                    type:'2',
                    name:'胸科医院',
                    flag:'10',
                    time:'',
                    images:['../Dist/Images/img_project_xiongke_01.png','../Dist/Images/img_project_xiongke_02.png','../Dist/Images/img_project_xiongke_03.png','../Dist/Images/img_project_xiongke_04.png']
                },{
                    type:'2',
                    name:'复旦儿科培训中心',
                    flag:'11',
                    time:'Maintenance（2018）',
                    images:['../Dist/Images/img_project_fudan_01.png','../Dist/Images/img_project_fudan_02.png','../Dist/Images/img_project_fudan_03.png']
                },{
                    type:'2',
                    name:'美敦力创新中心',
                    flag:'12',
                    time:'',
                    images:['../Dist/Images/img_project_meiguo_01.png','../Dist/Images/img_project_meiguo_02.png','../Dist/Images/img_project_meiguo_03.png','../Dist/Images/img_project_meiguo_04.png']
                },{
                    type:'3',
                    name:'上海健康医学院康复实训中心',
                    flag:'13',
                    time:'Design （2017）',
                    images:['../Dist/Images/img_project_kanfuzhongx_01.png','../Dist/Images/img_project_kanfuzhongx_02.png','../Dist/Images/img_project_kanfuzhongx_03.png','../Dist/Images/img_project_kanfuzhongx_04.png','../Dist/Images/img_project_kanfuzhongx_05.png','../Dist/Images/img_project_kanfuzhongx_06.png','../Dist/Images/img_project_kanfuzhongx_07.png','../Dist/Images/img_project_kanfuzhongx_08.png']
                },{
                    type:'3',
                    name:'健康医学院学工处',
                    flag:'14',
                    time:'Design（2018）',
                    images:['../Dist/Images/img_project_yixueyuan_01.png','../Dist/Images/img_project_yixueyuan_02.png','../Dist/Images/img_project_yixueyuan_03.png']
                }

            ],
            activeProjectList:[]
        }
    },
    computed:{
        // activeProjectList() {
        //     return activeType == '' ? this.projectList : _.
        // }
    },
    methods:{
        calcProjects() {
          var activeProjectList = [];
          _.forEach(this.projectList,(item,index) => {
               if(item.type == this.activeType) {
                   activeProjectList.push(item)
               }
           })
           this.activeProjectList = activeProjectList;
        }
    },
    mounted(){
        this.activeProjectList = this.projectList;
    },
    components:{
        projectItem,
        publicFooter
    }
}
</script>
<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
.project-list
    padding-top 1.3rem
    .project-list__wrapper
        .project-list__wrapper__title
            @extends .font-size-20
            text-align center
            margin 0.4rem 0 0.8rem
        .project-list__wrapper__fliter
            padding 0 0.4rem
            margin-bottom 0.4rem
            .project-list__wrapper__fliter__wrapper
                display flex
                li
                    margin 0 0.3rem 0.3rem 0
                    padding 0.1rem
                    border 1px solid #eaeaea
                    color secondaryColor
                li.active
                    border 1px solid #44546A
                    

@media(max-width 768px)
    .project-list__wrapper__fliter__wrapper__icon
        display none      

@media(min-width 769px)
    .project-list
        padding-top 90px
        .project-list__wrapper
            .project-list__wrapper__title
                font-size 40px
                margin 120px 0 60px
            .project-list__wrapper__fliter
                padding 0
                margin  60px 0 88px 0
                .project-list__wrapper__fliter__wrapper
                    display flex
                    justify-content center
                    li
                        margin 0
                        padding 0 40px
                        border-width 0 1px 0 0
                        display flex 
                        flex-direction column
                        justify-content flex-start  
                        align-items center  
                        cursor pointer      
                        color thirdColor              
                        .project-list__wrapper__fliter__wrapper__icon
                            margin-top 4px
                            width 100%
                            height 1px
                            background-color mainColor
                            transform scale(0)
                            transition transform .2s
                        &:hover
                            color mainColor
                            .project-list__wrapper__fliter__wrapper__icon
                                transform scale(1)
                    li.active
                        border-width 0
                        .project-list__wrapper__fliter__wrapper__icon
                            transform scale(1)


                        
                        
</style>


