<template>
    <section class="project">
        <div class="project__wrapper">
            <slot name="filter"></slot>    
            <!-- <div class="project__wrapper__title">项目案例</div> -->
            <div class="project__wrapper__content">
                <div class="project__wrapper__content__item" v-for="(item,index) in activeProjectList" :key="index">
                    <router-link :to="'/projectDetail?id=' + item.flag + '&type=' + item.type">
                        <div class="project__wrapper__content__item__image" :style="{backgroundImage:'url(' + item.images[0]+')'}">
                            <div class="project__wrapper__content__item__image__mask">
                            </div>
                        </div>
                        
                        <p class="project__wrapper__content__item__name">{{item.name}}</p>
                        <p class="project__wrapper__content__item__industry">{{item.time}}</p>
                    </router-link>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    props:['activeProjectList'],
    data() {
        return {
            
        }
    },

}
</script>

<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
.project 
    .project__wrapper
        .project__wrapper__title
            @extends .font-size-20
            text-align center
            margin-bottom 0.8rem
        .project__wrapper__content
            display flex
            flex-wrap wrap
            justify-content space-between
            padding 0 0.2rem
            .project__wrapper__content__item
                flex-basis 4.4rem
                margin-bottom 0.3rem
                .project__wrapper__content__item__image
                    height 2.875rem
                    background-size cover
                    background-repeat no-repeat
                    background-position center
                    border 1px solid #f5f5f5
                    position relative
                    overflow hidden
                    .project__wrapper__content__item__image__mask
                        position absolute
                        left 0
                        top 0
                        right 0
                        bottom 0
                        background-color  rgba(68,84,106,0.70)
                        transform translate3d(0,100%,0)
                        transition transform .3s
                .project__wrapper__content__item__name
                    margin 4px 0
                    transform translate3d(0,0,0)
                    transition transform .3s
                .project__wrapper__content__item__industry
                    color thirdColor
                    @extends .font-size-12
                    transform translate3d(0,0,0)
                    transition transform .3s
                &:hover
                    .project__wrapper__content__item__image__mask
                        transform translate3d(0,0,0)
                    .project__wrapper__content__item__name
                        transform translate3d(0,-50px,0)
                        color #fff
                    .project__wrapper__content__item__industry
                        transform translate3d(0,-25px,0)

@media (max-width 768px)
    .project__wrapper__content__item__mask
        display none
@media (min-width 769px)
    .project 
        .project__wrapper
            .project__wrapper__content
                justify-content space-around
                .project__wrapper__content__item
                    width calc(460 / 1920 * 100vw)
                    position relative
                    .project__wrapper__content__item__image
                        height calc(300 / 1920 * 100vw)
                    &:last-child
                        align-self flex-start
                    .project__wrapper__content__item__mask
                        width 100%
                        position absolute
                        left 0
                        top 0
                        height calc(300 * 1920 / 100vw)

</style>

