<template>
    <section class="header">
        <section class="header__wrap">
            <div class="header__wrap__header" :class="{open:navIsOpen, active:scrollTop > 30}">
                <div class="header__wrap__header__logo">
                    <router-link to="/"><img src="../Dist/Images/logo.png" alt=""></router-link>
                </div>
                <div class="header__wrap__header__lang" @click="switchLang">{{languageWords}}</div>
                <div class="header__wrap__header__btn" :class="{active:navIsOpen}" @click="toggleNav">
                    <span class="header__wrap__header__btn__icon"></span>
                </div>
            </div>
            <div class="header__wrap__nav" v-show="navIsOpen">
                <ul class="header__wrap__nav__content">
                    <li class="header__wrap__nav__content__item header__wrap__nav__content__item-logo" @click="toggleNav">
                        <a href="/">
                            <img src="../Dist/Images/logo.png" alt="">
                        </a>
                    </li>
                    <li class="header__wrap__nav__content__item" @click="toggleNav">
                        <router-link to="/" class="header__wrap__nav__content__item__link">{{$t('nav.home')}}</router-link>
                    </li>
                    <li class="header__wrap__nav__content__item" @click="toggleNav">
                        <router-link to="/about" class="header__wrap__nav__content__item__link">{{$t('nav.about')}}</router-link>
                    </li>
                    <li class="header__wrap__nav__content__item" @click="toggleNav">
                        <router-link to="/projects" class="header__wrap__nav__content__item__link">{{$t('nav.cases')}}</router-link>
                    </li>
                    <li class="header__wrap__nav__content__item" @click="toggleNav">
                        <router-link to="/team" class="header__wrap__nav__content__item__link">{{$t('nav.team')}}</router-link>
                    </li>
                    <li class="header__wrap__nav__content__item" @click="toggleNav">
                        <router-link to="/contact" class="header__wrap__nav__content__item__link">{{$t('nav.contact')}}</router-link>
                    </li>
                     <li class="header__wrap__nav__content__item">
                       <a href="javascript:;" class="header__wrap__nav__content__item__link" @click="switchLang">{{languageWords}}</a>
                    </li>
                </ul>
            </div>

        </section>
    </section>
</template>
<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
.header
    position fixed
    left 0
    right 0
    top 0
    z-index 999
    .header__wrap
        .header__wrap__header.active
            background-color rgba(255,255,255,1)
            transition background-color .3s
        .header__wrap__header.open
            background-color rgba(255,255,255,1)
        .header__wrap__header
            height 1.3rem
            padding 0 0.4rem
            display flex
            justify-content space-between
            align-items center
            background-color rgba(255,255,255,0.1)
            max-width 1920px
            margin 0 auto
            .header__wrap__header__logo
                a
                    display block
                    width 0.5rem
                    height 0.5rem
                    img 
                        max-width 100%
            .header__wrap__header__lang
                display none
            .header__wrap__header__btn
                width 1.1rem
                height 1.1rem
                position relative
                .header__wrap__header__btn__icon
                    display block
                    width 0.55rem
                    height 1px
                    background-color secondaryColor
                    position absolute
                    left 0.275rem
                    top 50%
                    margin-top -0.0125rem
                    transition transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
                    &:before,
                    &:after
                        content ''
                        display block
                        width 0.55rem
                        height 1px
                        position absolute
                        background-color secondaryColor
                    &:before
                        top -0.2rem
                        transition top 0.1s 0.14s ease, opacity 0.1s ease
                    &:after
                        top 0.2rem
                        transition: top 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
            .header__wrap__header__btn.active
                .header__wrap__header__btn__icon
                    transform rotate(45deg)
                    transition-delay 0.14s
                    transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)
                    &:before
                        top 0
                        opacity 0
                        transition top 0.1s ease, opacity 0.1s 0.14s ease
                    &:after
                        top: 0;
                        transform: rotate(-90deg);
                        transition: top 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        .header__wrap__nav
            height calc(100vh - 1.3rem)
            background-color #fff
            .header__wrap__nav__content
                .header__wrap__nav__content__item-logo
                    display none
                .header__wrap__nav__content__item
                    .header__wrap__nav__content__item__link
                        display block
                        line-height 1.2rem
                        height 1.2rem
                        padding-left 0.4rem
                        
@media (min-width 769px)
    .header
        .header__wrap
            .header__wrap__header.open
                background-color #fff
                .header__wrap__header__logo
                    a
                        img 
                            display none
            .header__wrap__header
                height 90px
                padding 0 60px
                display flex
                justify-content space-between
                align-items center
                background-color rgba(255,255,255,0)
                position relative
                .header__wrap__header__logo
                    a
                        display block
                        width 46px
                        height 44px
                        img 
                            max-width 100%
                .header__wrap__header__lang
                    font-size 18px
                    display block
                    position absolute
                    top 50%
                    right 130px
                    transform translateY(-50%)
                    cursor pointer
                .header__wrap__header__btn
                    width 50px
                    height 50px
                    position relative
                    background-color rgba(255,255,255,1)
                    transition background-color .3s
                    .header__wrap__header__btn__icon
                        display block
                        width 30px
                        height 1px
                        background-color secondaryColor
                        position absolute
                        top 50%
                        left 10px
                        transition transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
                        &:before,
                        &:after
                            content ''
                            display block
                            width 30px
                            height 1px
                            position absolute
                            background-color secondaryColor
                        &:before
                            top -7px
                            transition top 0.1s 0.14s ease, opacity 0.1s ease
                        &:after
                            top 7px
                            transition: top 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
                .header__wrap__header__btn.active
                    .header__wrap__header__btn__icon
                        transform rotate(45deg)
                        transition-delay 0.14s
                        transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)
                        &:before
                            top 0
                            opacity 0
                            transition top 0.1s ease, opacity 0.1s 0.14s ease
                        &:after
                            top: 0;
                            transform: rotate(-90deg);
                            transition: top 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
            .header__wrap__header.active
                .header__wrap__header__btn
                    background-color rgba(255,255,255,0)
            .header__wrap__nav
                height calc(100vh - 1.3rem)
                .header__wrap__nav__content
                    .header__wrap__nav__content__item
                        .header__wrap__nav__content__item__link
                            text-align center
                            display block
                            line-height 60px
                            height 60px
                            padding 0
                            border-bottom 1px solid #f5f5f5
                            &:hover
                                background-color #f8f8f8
                        &:last-child
                            display none
                    .header__wrap__nav__content__item-logo
                        display flex
                        justify-content center
                        padding-bottom 70px
                        a
                            img 
                                width 42px
</style>
<script>
export default {
    data(){
        return {
            navIsOpen:false,
            lang:this.$i18n.locale,
            scrollTop:0
        }
    },
    computed:{
        languageWords() {
            return this.lang == 'zh' ? 'EN' : '中文';
        }
    },
    created(){
        if(this.$cookie.get('language')) this.lang = this.$i18n.locale =  this.$cookie.get('language');
        window.onscroll = this.getScrollTop;
    },
    methods:{
        toggleNav(){
            this.navIsOpen = !this.navIsOpen;
        },
        switchLang() {
            //bus.$emit('switchLang',lang);
            this.lang = this.$i18n.locale = this.$i18n.locale == 'en' ? 'zh' : 'en';
            this.$cookie.set('language',this.lang);
        },
        getScrollTop() {
            if (document.documentElement && document.documentElement.scrollTop) {
                this.scrollTop = document.documentElement.scrollTop;
            } else if (document.body) {
                this.scrollTop = document.body.scrollTop;
            };
        },
    }
}
</script>


