<template>
    <section class="footer">
        沪ICP备18019319号
    </section>
</template>
<style lang="stylus" scoped>
@import '../Public/Css/common.styl';
    .footer
        background-color #fff
        color thirdColor
        text-align center
@media (max-width 768px)
    .footer
        line-height 1rem
@media (min-width 769px)
    .footer
        line-height 40px
</style>

