<template>
    <section class="team">
        <div class="team__wrapper">
            <div class="team__wrapper__banner"></div>
            <div class="team__wrapper__content">
                <div class="team__wrapper__content__title">{{$t('team.title')}}</div>
                <div class="team__wrapper__content__body">
                    <div class="team__wrapper__content__body__item">
                        <img src="../Dist/Images/img_team.png" class="team__wrapper__content__body__item__image" alt="">
                        <p>{{$t('team.photoType1')}}</p>
                    </div>
                    <div class="team__wrapper__content__body__item">
                        <img src="../Dist/Images/img_team2.png" class="team__wrapper__content__body__item__image" alt="">
                        <p>{{$t('team.photoType2')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <publicFooter></publicFooter>
    </section>
    
</template>
<script>
import publicFooter from './public-footer';
export default {
    components:{
        publicFooter
    }
}
</script>
<style lang="stylus" scoped>
.team
    padding-top 1.3rem
    .team__wrapper
        padding-bottom 1.3rem
        .team__wrapper__banner
            max-width 1920px
            width w = 100vw
            height w * (540 / 1920)
            background url(../Dist/Images/img_coreteam.png) no-repeat center/cover
            background-color #f5f5f5
        .team__wrapper__content
            margin 0.8rem auto 0 
            .team__wrapper__content__body
                display flex
                flex-direction column
                align-items center
                .team__wrapper__content__body__item
                    width 7.5rem
                    margin-bottom 0.3rem
                    .team__wrapper__content__body__item__image
                        height 4.875rem
                        margin-bottom 0.1rem
                        background-color #f8f8f8
                    p
                        font-weight bold
@media (max-width 768px)
    .team__wrapper__content__title
        display none
@media (min-width 769px)
    .team
        .team__wrapper
            padding-bottom 256px
            .team__wrapper__banner
                max-width 100%
                background-color #f5f5f5
            .team__wrapper__content
                margin 132px auto 0 
                max-width 1428px
                .team__wrapper__content__title
                    margin-bottom 100px
                    text-align center
                    font-size 40px
                    font-weight bold
                .team__wrapper__content__body
                    display flex
                    justify-content space-between
                    flex-direction row
                    padding 0 60px
                    .team__wrapper__content__body__item
                        width 48%
                        max-width 613px
                        .team__wrapper__content__body__item__image
                            width calc(613 / 1920 * 100vw)
                            height calc(400 / 1920 * 100vw)
                            margin-bottom 32px
                            background-color #f8f8f8
                        p
                            font-size 24px
                            font-weight bold

</style>


